"*":
  "atom-beautify":
    general:
      _analyticsUserId: "dc7d9204-9ea5-45ea-82ab-d8a96fde9dce"
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "terminal-plus"
    ]
    themes: [
      "spacegray-dark-ui"
      "base16-ocean-dark-spacegray"
    ]
  editor:
    fontSize: 13
    preferredLineLength: 140
    showIndentGuide: true
  "exception-reporting":
    userId: "c96ebc35-9430-0067-7f07-7f1ef5d648ec"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          red: 77
          green: 83
          blue: 255
          alpha: 1
        green:
          red: 0
          green: 223
          blue: 0
          alpha: 1
        red:
          red: 255
          green: 72
          blue: 89
          alpha: 1
        yellow:
          red: 250
          green: 251
          blue: 8
          alpha: 1
    style:
      animationSpeed: 2
      defaultPanelHeight: "400px"
      fontFamily: "Inconsolata for Powerline"
      fontSize: "12"
      theme: "dracula"
    toggles:
      autoClose: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
